@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
}

.container-one-style {
  display: none;
}

.header-style {
  font-size: 40px;
  font-family: Roboto;
  font-weight: 700;
}

.stay-style {
  margin-top: 15px;
}
.list-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  margin-top: 76px;
}

.icon-check-style {
  display: flex;
  flex-direction: column;
  width: 21px;
  gap: 21px;
}

.product-list-style {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 400;
}

.footer-style {
  display: flex;
  flex-direction: column;
  margin-top: 96px;
  gap: 13px;
}
.buttons-style {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#email-adress {
  padding: 18 46 14;
  width: 327px;
}

#error-message {
  display: none;
  color: red;
}
.newsletter-style {
  padding: 18 46 14;
  background-color: navy;
  width: 327px;
  display: flex;
}
#subscribe-button {
  color: white;
  text-decoration: none;
}
.illustration-sign-up-desktop-style {
  display: none;
}

@media (min-width: 1024px) {
  body {
    background-color: navy;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    background-color: white;
    width: 928px;
    padding: 23px;
    border-radius: 14px;
  }
  .illustration-sign-up-mobile-style {
    display: none;
  }

  .illustration-sign-up-desktop-style {
    display: block;
  }

  .container {
    flex-direction: row-reverse;
  }

  .newsletter-style:hover.sub-button {
    background-color: orange;
  }

  #error-message {
    display: none;
    color: red;
    font-size: 12px;
    margin-left: 224px;
  }
  .container-one-style {
    display: none;
  }
}
